apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: els-nd
  namespace: elk
spec:
  serviceName: "elasticsearch"
  replicas: 3
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: rdenck/els:v1.0.0
        ports:
        - containerPort: 9200
          name: http
        - containerPort: 9300
          name: transport
        env:
        - name: ELASTIC_PASSWORD
          valueFrom:
            secretKeyRef:
              name: els-secrets
              key: ELASTIC_PASSWORD
        - name: discovery.seed_hosts
          value: "els-nd-0.elasticsearch,els-nd-1.elasticsearch,els-nd-2.elasticsearch"
        - name: cluster.initial_master_nodes
          value: "els-nd-0,els-nd-1,els-nd-2"
        volumeMounts:
        - name: data
          mountPath: /opt/rsd/data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 100Gi
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: elk
spec:
  selector:
    app: elasticsearch
  ports:
  - port: 9200
    name: http
  - port: 9300
    name: transport
  clusterIP: None
